/* src/index.css */
@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui;
  --font-federalreg: "ltr-federal-bureau-12", sans-serif;
  --font-federaldiag: "ltr-federal-bureau-12-diago", sans-serif;
  --font-federalhor: "ltr-federal-bureau-12-horiz", sans-serif;
  --font-ocr: "ocr-a-std", monospace;
  --font-motor: "motor", monospace;
  --font-motorstencil: "motor-stencil", sans-serif;
  --font-serif: ui-serif, Georgia;
  --font-mono: ui-monospace, SFMono-Regular;
}

@layer base {
  .container {
    padding: 1.5rem;
    margin-inline: auto;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}